@model AddCategoryViewModel
@{
    ViewBag.Title = "Add new category";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="category-form" method="post">
                @Html.AntiForgeryToken()
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="NameEn" class="form-control" aria-required="true" placeholder="Beach" />
                    <label asp-for="NameEn" class="form-label"></label>
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NameBg" class="form-control" aria-required="true" placeholder="Плаж" />
                    <label asp-for="NameBg" class="form-label"></label>
                    <span asp-validation-for="NameBg" class="text-danger"></span>
                </div>
                <button id="add-submit" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}